@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main,
footer {
    max-width: 1280px;
    margin: auto;
    padding: 0 24px;
}

/* navigation styling */
.btn-primary {
    background-color: #1D4ED8;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font: bold;
    font-size: 16px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    max-width: 1280px;
    margin: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.nav-links li a {
    color: #575757;
}

/* hero section styling */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.685)), url("./assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 80vh;
    text-align: center;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.hero-text p {
    max-width: 1280px;
    margin: auto;
    padding: 32px 24px;
    font-size: 22px;
}

.hero-text h1 {
    font-size: 80px;
}


/* Meet the Speakers */
.card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.meet {
    padding: 80px 0;
    text-align: center;
    display: none;

}

.meet h2 {
    font-size: 42px;
    font-weight: bold;
    padding: 0 0 24px;
    color: #0D1B2A;
}

.speaker-card {
    max-width: 450px;
    border: 1px solid #eef1f6;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.speaker-card:hover {
    transform: translateY(-5px);
}

.speaker-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.speaker-info {
    padding: 24px;
    text-align: left;
}

.speaker-category {
    font-weight: 700;
    color: #1D4ED8;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.speaker-name {
    font-size: 20px;
    font-weight: 700;
    color: #111827;
    margin: 6px 0;
}

.speaker-designation {
    color: #575757;
}

